<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="../../static/css/style.css" rel='stylesheet'>
    <title>{% block title %}e-Commerce{% endblock %}</title>
</head>
<body>
    {% if user.is_authenticated %}
    <header class="section-header" id="navbar_top" style="background: white;">	
        <section class="header-main" style="margin: 15px 0px;">
            <div class="container">
                <div class="row gy-3 align-items-center">
                    <div class="col-lg-2 col-sm-4 col-4">
                        <a href="#" class="navbar-brand">
                            <img class="logo" height="40" src="../../static/assets/ishop-logo.png">
                        </a> <!-- brand end.// -->
                    </div>
                    <div class="order-lg-last col-lg-5 col-sm-8 col-8">
                        <div class="float-end">
                            <a href="#" class="btn btn-light"> 
                                <i class='bx bxs-user'></i>  <span class="ms-1 d-none d-sm-inline-block">Account</span> 
                            </a>
                            <a href="#" class="btn btn-light"> 
                                <i class='bx bxs-heart' ></i>  <span class="ms-1 d-none d-sm-inline-block">Wishlist</span>   
                            </a>
                            <a href="/cart" class="btn btn-light"> 
                                <i class='bx bxs-cart-alt' ></i> <span class="ms-1 d-none d-sm-inline-block">My cart </span> 
                            </a>
                            <a href="/logout" class="btn btn-light"> 
                                <i class='bx bx-power-off'></i> <span class="ms-1 d-none d-sm-inline-block"></span> 
                            </a>
                        </div>
                    </div> <!-- col end.// -->  
                    <div class="col-lg-5 col-md-12 col-12">

                    </div> <!-- col end.// -->                  
                </div> <!-- row end.// -->
            </div> <!-- container end.// -->
        </section> <!-- header-main end.// --> 
        <nav class="navbar navbar-expand-lg bg-body-tertiary navbar" data-bs-theme="dark" style="background: #0081C9;">
            <div class="container">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/" style="color: white;">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/products" style="color: white;">Products</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
                      Categories
                    </a>
                    <ul class="dropdown-menu">
                      {% for cat in categories%}
                        <li><a class="dropdown-item" href="#">{{cat.category}}</a></li>
                      {% endfor %}
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
        </nav>
    </header>
    {% else %}
    <header class="container">
      <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #D9D9D9;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">catalog</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  pages
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
            </ul>
            <div class="credential-btn-wrapper container-fluid">
              <li class="nav-item credential">
                <a href="#"><button class="btn login-btn">Login</button></a>
              </li>
              <span class="divider"></span>
              <li class="nav-item credential">
                <a href="#"><button class="btn signup-btn">Signup</button></a>
              </li>
            </div>
          </div>
        </div>
      </nav>
    </header>
    {% endif %}
    {% block content %}

    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</html>