{% extends "main/base.html" %}

{% block content %}
{% if user.is_authenticated %}
    {% if cart %}
    <table class="table">
        <tr>
            <!-- <th></th>
            <th></th>
            <th></th>
            <th></th> -->
        </tr>
        {% for item in cart %}
            <tr>
                <td>
                    <input type="number" value="{{item.id}}" id="{{ item.product.id }}-item" hidden>
                    <input type="checkbox" name="item[]" value="{{item.product.price}}" id="checkbox" checked hidden>
                    <img src="../../../media/{{item.product.product_img}}" alt="{{p.name}}_pic" width="50px" height="50px">
                    {% csrf_token %}
                </td>
                <td><a href="/products/{{item.product.id}}">{{item.product.name}}</a></td>
                <td>
                    <input type="number" value="{{item.quantity}}" name="numberOfQty" id='{{item.product.id}}-numberOfQty' hidden>
                    <button id="{{ item.product.id }}-decrement-btn" class="decrement-btn"><i class='bx bx-minus'></i></button>
                    <span id="{{item.product.id}}-quantity" name="quantity[]">{{item.quantity}}</span>
                    <button id="{{ item.product.id }}-increment-btn" class="increment-btn"><i class='bx bx-plus'></i></button>
                </td>
                <td>
                    <span>{{item.product.price}}</span>
                </td>
                {% csrf_token %}
                <td><a href="/cart/remove/{{item.id}}"><button id="remove-btn"><i class='bx bxs-trash-alt'></i></button></a></td>
            </tr>
        {% endfor %}
    </table>
    <h6>Total: <span id="total">0</span></h6>
    <button>Checkout</button>
    {% else %}
    <h1>Empty Cart</h1>
    {% endif %}
{% else %}
    <h3>Please Login to view your cart</h3>
{% endif %}
<script src="../../static/js/cart.js" type="text/javascript"></script>
{% endblock %}