{% extends "main/base.html" %}

{% block title %} Home {% endblock %}

{% block content %}
<section>
   <div>
      <div class="d-flex header-wrapper">
         <div class="men">
            <span class="men-header">men</span>
            <div class="rectangle">
               <span class="shop-now">shop now</span>
               <!-- <img src="../../static/assets/arrow.svg"> -->
            </div>
         </div>
         <div class="women">
            <span class="women-header">women</span>
            <div class="rectangle">

            </div>
         </div>
         <div class="kid">
            <span class="men-header">kid</span>
            <div class="rectangle">

            </div>
         </div>
      </div>
   </div>
</section>
{% endblock %}