{% extends "main/base.html" %}

{% block title %} Home {% endblock %}

{% block content %}
<header>
   <div id="header-wrapper">
      <div class="d-flex header-wrapper">
         <div class="men">
            <span class="men-header">men</span>
            <div class="rectangle">
               <div class="shop-btn-wrapper">
                  <span class="shop-now">shop now</span>
                  <img class="arrow" src="../../static/assets/arrow.svg">
               </div>
            </div>
         </div>
         <div class="women">
            <span class="women-header">women</span>
            <div class="rectangle">
               <div class="shop-btn-wrapper">
                  <span class="shop-now">shop now</span>
                  <img class="arrow" src="../../static/assets/arrow.svg">
               </div>
            </div>
         </div>
         <div class="kid">
            <span class="men-header">kid</span>
            <div class="rectangle">
               <div class="shop-btn-wrapper">
                  <span class="shop-now">shop now</span>
                  <img class="arrow" src="../../static/assets/arrow.svg">
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
         <div class="men">
            <span class="men-header">men</span>
            <div class="rectangle">
               <div class="shop-btn-wrapper">
                  <span class="shop-now">shop now</span>
               </div>
            </div>
         </div>
        </div>
        <div class="swiper-slide">
         <div class="women">
            <span class="women-header">women</span>
            <div class="rectangle">
               <div class="shop-btn-wrapper">
                  <span class="shop-now">shop now</span>
               </div>
            </div>
         </div>
        </div>
        <div class="swiper-slide">
         <div class="kid">
            <span class="men-header">kid</span>
            <div class="rectangle">
               <div class="shop-btn-wrapper">
                  <span class="shop-now">shop now</span>
               </div>
            </div>
         </div>
        </div>
      </div>
      <!-- Add Pagination -->
      <!-- <div class="swiper-pagination"></div> -->
      <!-- Add Arrows -->
      <!-- <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div> -->
    </div>
   </div>
   <div class="container">
      <div class="container-fluid">
         <div class="feauture-wrapper">
            <div class="feature1">
               <img src="../../static/assets/free-shipping.svg">
            </div>
            <div class="feature2">
               <img src="../../static/assets/free-return.svg">
            </div>
            <div class="feature3">
               <img src="../../static/assets/authentic.svg">
            </div>
         </div>
         <hr>
      </div>
   </div>
</header>
<div id="hero">
   <div class="container hero-wrapper">
      <p class="hero-content">we offer a wide variety of high-quality products to meet all of your needs.  
         Our easy-to-use ecommerce platform allows you to conveniently  
         shop for everything from the comfort of your own home.
      </p>
   </div>
</div>
<div id="categories">
   <h2 class="categories-header">browse our categories</h2>
   <div class="categories-wrapper container">
      <a href="#" class="top categories-pic">
         <span class="categories-name">top</span>
      </a>
      <a href="#" class="bottom categories-pic">
         <span class="categories-name">bottom</span>
      </a>
      <a href="#" class="accessories categories-pic">
         <span class="categories-name">accessories</span>
      </a>
      <a href="#" class="hat categories-pic">
         <span class="categories-name">hat</span>
      </a>
      <a href="#" class="bag categories-pic">
         <span class="categories-name">bag</span>
      </a>
      <a href="#" class="footwear categories-pic">
         <span class="categories-name">footwear</span>
      </a>
   </div>
</div>
<div id="partners">

</div>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
   var swiper = new Swiper('.swiper-container', {
      slidesPerView: 1,
      effect: "fade",
      spaceBetween: 30,
      centeredSlides: true,
      autoplay: {
         delay: 2500,
         disableOnInteraction: false,
      },
      pagination: {
         el: '.swiper-pagination',
         clickable: true,
      }
   });
</script>
{% endblock %}