{% extends "main/base.html "%}

{% block title %}{{p.name}}{% endblock %}

{% block content %}
<h1>{{p.name}}</h1>
<ul>
    <input type="text" value="{{p.id}}" id="prod-id" hidden>
    {% csrf_token %}
    <li>{{p.category}}</li>
    <li>{{p.brand}}</li>
    <li>{{p.description}}</li>
    <li>{{p.price}}</li>
    <img src="../../../media/{{p.product_img}}" alt="{{p.name}}_pic" width="400px" height="400px">
    {% if user.is_authenticated %}
        <button id='minus-btn' onclick="decrement()">-</button>
        <input type="number" name="numberOfQty" id='numberOfQty' value='1'/>
        <button onclick="increment()">+</button>
        <button id="add-btn">Add to cart</button>
        <form method="POST" enctype="multipart/form-data" id="add-rvw" name="add-rvw">
            {% csrf_token %}
            <label>Add Review</label>
            <textarea id="comment"></textarea>
            <button type="submit" name="submit">Submit</button>
        </form>

        {% for reviews in review %}
            {{reviews.user.username}} - {{reviews.comment}}
            <br>
        {% endfor %}
        
    {% else %}
        <button disabled>Add to cart</button>
        <p>Please <a href="/login">Login</a> to Add to cart this item</p>
        <form disabled>
            <label>Add Review</label>
            <p>Please <a href="/login">Login</a> to Add to add review to this item.</p>
            <textarea disabled></textarea >
            <button disabled>Submit</button>
        </form>
        {% for reviews in review %}
            <li>{{reviews.comment}}</li>
        {% endfor %}
    {% endif %}
</ul>
<script src="../../static/js/product.js" type="text/javascript"></script>
{% endblock %}