{% extends "main/base.html "%}

{% block title %}{{p.name}}{% endblock %}

{% block content %}
<h1>{{p.name}}</h1>
<ul>
    <input type="text" value="{{p.id}}" id="prod-id" hidden>
    {% csrf_token %}
    <li>{{p.category}}</li>
    <li>{{p.brand}}</li>
    <li>{{p.description}}</li>
    <li>{{p.price}}</li>
    <input type="text" value="{{p.stripe_id}}" id="stripeId" hidden>
    <img src="../../../media/{{p.product_img}}" alt="{{p.name}}_pic" width="400px" height="400px">
    {% if user.is_authenticated %}
        <form id="size">
            {% if p.gender == "Men's" and p.category == "Footwear" %}
                {{men}}
            {% elif p.gender == "Women's" and p.category == "Footwear" %}
                {{women}}
            {% elif p.gender == "Kids" and p.category == "Footwear" %}
                {{kid}}
            {% elif p.category == "Tops" or p.category == "Bottoms" %}
                {{clothes}}
            {% endif %}
        </form>
        <button id='minus-btn' onclick="decrement()"><i class='bx bx-minus'></i></button>
        <input type="text" name="numberOfQty" id='numberOfQty' value='1' min='1'/>
        <button onclick="increment()"><i class='bx bx-plus'></i></button>
        <button class="button is-primary" id="submitBtn">Buy Now!</button>
        <button id="add-btn">Add to cart</button>
        <form method="POST" enctype="multipart/form-data" id="add-rvw" name="add-rvw">
            {% csrf_token %}
            <label>Add Review</label>
            <textarea id="comment"></textarea>
            <button type="submit" name="submit">Submit</button>
        </form>

        {% for reviews in review %}
            {{reviews.user.username}} - {{reviews.comment}}
            <br>
        {% endfor %}
        
    {% else %}
        <button disabled>Add to cart</button>
        <p>Please <a href="/login">Login</a> to Add to cart this item</p>
        <form disabled>
            <label>Add Review</label>
            <p>Please <a href="/login">Login</a> to Add to add review to this item.</p>
            <textarea disabled></textarea >
            <button disabled>Submit</button>
        </form>
        {% for reviews in review %}
            <li>{{reviews.comment}}</li>
        {% endfor %}
    {% endif %}
</ul>
<script type="text/script" src="{% static 'js/product.js' %}"></script>
{% endblock %}
