{% extends "main/base.html" %}

{% block content %}
<h1>All Products</h1>
{% if user.is_staff %}
    <a href="/products/create"><button>Add Product</button></a>
    <div class="row">
        {% for products in p %}
        <div class="col col-lg-3 col-md-3 col-sm-6">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <p class="card-text">{{products.name}}</p>
                </div>
                <a href="{{products.id}}"><img class="card-img-top" src="../../../media/{{products.product_img}}" alt="{{products.name}}_pic" style="height: 50%;"></a>
            </div>
        </div>
        {% endfor %}
    </div>
{% else %}
    <div class="row">
        {% for products in p %}
        <div class="col col-lg-3 col-md-3 col-sm-6">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <p class="card-text">{{products.name}}</p>
                </div>
                <a href="/products/{{products.gender}}/{{products.category}}/{{products.id}}"><img class="card-img-top" src="../../../media/{{products.product_img}}" alt="{{products.name}}_pic" style="height: 50%;"></a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endif %}

{% endblock %}